// https://coolors.co/fff8f0-191923-0e79b2-969a97-c60f7b
// https://coolors.co/fff8f0-0e79b2-160f29-246a73-368f8b
@color-main: #fff8f0;
@color-second: #0e79b2;
@color-ter: #160f29;
@color-quart: #246a73;
@color-quint: #368f8b;

@font-face {
  font-family: 'Sans Forgetica';
  src: url('/assets/fonts/SansForgetica-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Press Start 2P';
  src: url('/assets/fonts/pressstart2p-webfont.woff2') format('woff2'),
    url('/assets/fonts/pressstart2p-webfont.woff') format('woff'),
    url('/assets/fonts/PressStart2P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: @color-main;
  color: @color-ter;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: row;
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
    background-color: @color-second;
    color: @color-main;
    h1 {
      padding: 0.75rem;
      text-align: center;
      font-size: 1rem;
      font-family: 'Press Start 2P', sans-serif;
    }
    a {
      color: inherit;
      font-size: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    a.close-header {
      font-size: 2.4rem;
      align-self: flex-end;
      padding-right: 1rem;
    }
    a.profile {
      margin-top: 5rem;
      height: 160px;
      width: 160px;
      img {
        border-radius: 100%;
        height: 160px;
        width: 160px;
      }
    }
    nav {
      ul {
        padding: 0.75rem 2rem;
        text-transform: uppercase;
        font-family: 'Press Start 2P', sans-serif;
        li {
          padding: 0.1rem;
          list-style: none;
          font-size: 1rem;
          ul {
            padding: 0.5rem 0rem 1rem 2rem;
            text-transform: none;
            li {
              font-size: 0.9rem;
            }
          }
        }
      }
      .languages,
      .external-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        li {
          padding: 0rem 0.5rem;
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
    p {
      padding: 1rem 0;
    }
  }
  a.open-header {
    position: absolute;
    color: inherit;
    right: 0;
    font-size: 1.6rem;
    padding-top: 0.55rem;
    padding-right: 0.3rem;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  main {
    flex: 4.5;
    padding: 1rem 2rem;
    overflow: auto; 
    h1 {
      margin-bottom: 1rem;
      font-family: 'Press Start 2P', sans-serif;
      font-size: 1.5rem;
    }
    p {
      padding: 0.5rem 0;
      font-size: 1.2rem;
      white-space: pre-line;
    }
    canvas {
      margin: 2rem 0 0;
      width: 67vw;
      height: auto;
      border: @color-ter 1px solid;
      &:fullscreen {
        margin: 0;
        width: 100%;
        border: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    header a.close-header,
    a.open-header {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  body {
    header {
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: 0.5s;
      a.profile {
        margin-top: -2rem;
      }
    }
  }
}
